<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de libros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-list-header>
      Libros guardados
    </ion-list-header>

    <ion-item *ngFor="let libro of libros |async">
      
      <ion-label > 
      <!--<ion-label (click)="editarContacto(contacto)"> aqui va-->
        <h2>{{libro.nombre}}</h2>
        <h3>{{libro.uid_categoria}}</h3>
        <h3>{{libro.uid_autor}}</h3>
        <h3>{{libro.stock}}</h3>
        
        <ion-button color="dark"  (click)="reserva()" >reservar</ion-button>
        <ion-avatar slot="start">
          <img src="../../assets/portada.jpg">
          
        </ion-avatar>

        

      </ion-label>


    </ion-item>
  
  </ion-list>

  <ion-item>  
    <!--<ion-button color="dark" (click)="nuevoContacto()" >Nuevo Contacto</ion-button>-->
  </ion-item>

</ion-content>
